<header>
  <h1>タスク管理アプリ</h1>
</header>
<div id="main-flame">
  <div v-if="!login">
    <h2>ユーザーログイン</h2>
    <preview-email v-bind:disEmail="email"></preview-email>
    <email-input @input-email="emailValue"></email-input>
    <email-submit @submit-email="sendEmail"></email-submit>
  </div>
  <div v-else>
    <p>ユーザー:{{email}}</p>
    <p>タスク入力</p>
    <task-input @input-task="setTask"></task-input>
    <task-submit @submit-task="sendTask"></task-submit>
    <ul>
      <task-item v-for="item in tasks" v-bind:task='item.name' v-bind:key='item.id'></task-item>
    </ul>
  </div>
</div>
<script src="bundle.js"></script>
